<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Ina Movie</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <a href="/">Lyfe in a Movie</a>
        <form action="/search" method="get">
            <input type="text" name="pesquisa" id="pesquisa" placeholder="Search for a movie...">
            <button type="submit">Search</button>
        </form>
    </header>
