* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, footer {
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
footer {
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.856);
    font-family: serif;
    gap: 0.5rem;
    font-size: clamp(0.8rem, 1vw, 1rem);
}
.container--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    text-decoration: none;    
    color: white;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 0.5);
}
.titulo:focus {
    outline: 0.1px solid white;
}
.form__header {
    display: flex;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.form__input {
    padding: 0.5rem;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #494949;
    border-right: 0;
    background-color: #F0F0F0;
    width: 80%;
}
.form__submit {
    padding: 0.5rem 1rem;
    border: 1px solid #494949;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    width: 20%;
}

/*Main content*/
main {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: #f0f0f0;
}

.cardFilm {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    color: black;
    flex: 0 1 200px;
    text-decoration: none;
    box-shadow: 0 4px 15px #0000004d;
    font-family: "Lora", serif;
    font-weight: bold;

}
@media (max-width: 520px) {
    .cardFilm {
        background-color: red;
        flex: 0 1 calc(50% - 0.5rem);
        margin: 0;
    }
    main {
        padding: 0;
        gap: 0.5rem;
    }
}
.cardFilm img {
    width: 100%;
    border-radius: 8px;
}
.titulo--Filme {
    width: 100%;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin: 1rem 0;
    font-family: "Dancing Script", cursive;
    text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.2);
}
.paginacao {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    overflow: auto;
}
.paginacao * {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: "Lora", serif;
    font-size: clamp(1rem, 2vw, 1rem);
}
.paginacao--cor {
    background-color: #333;
    color: white;
}

/*Filme sobre*/
.detalhes--filme * {
    max-width: 90%;
}
.detalhes--filme {
    width: 85%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    margin: 2rem 0;
    box-shadow: 0 4px 15px #0000004d;
    border: 1px solid #ccc;
}
.div--detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0 25%;
    text-align: center;;
}
.div--detalhes--info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bolder;
    white-space: nowrap;
}
.detalhes--filme img {
    border-radius: 8px;
    box-shadow: 0 4px 15px #0000004d;
}

.tituloF {
    font-family: "Lora", serif;
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

/*Dancing Script Lora Montserrat*/